.border-parrafo{
    border: 1px solid black;
    padding: 15px
}
.columna{
    text-align: center;
    display: inline-block;
   width: 49%; border: 1px solid black;
   vertical-align: top
 }

    
  
